.orderPage{
    background:url("https://www.transparenttextures.com/patterns/dark-wood.png");
    background-color: #272c48;
    min-height: 100vh;
}

.orders{
    padding-bottom:2%;
    margin-top: 5%;
}

.shoppingButton{
    margin:2%;
    padding:2%;
    border-radius:10px;
    background-color:#fe6b02;
    border:none;
    color:white;
    font-size:1.1rem;
}

.shoppingButton:hover{
    cursor: pointer;
    background-color:#fe0505;
}

.emptyOrder{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin:auto;
    border-radius:8px;
    width:50%;
    border:1px solid #fe6b02;
}

.orderDiv{
    margin-bottom: 4%;
}